@page
@model IEIPaperSearch.Pages.InProceedings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InProceedings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InProceedings.Conference" class="control-label"></label>
                <input asp-for="InProceedings.Conference" class="form-control" />
                <span asp-validation-for="InProceedings.Conference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.Edition" class="control-label"></label>
                <input asp-for="InProceedings.Edition" class="form-control" />
                <span asp-validation-for="InProceedings.Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.StartPage" class="control-label"></label>
                <input asp-for="InProceedings.StartPage" class="form-control" />
                <span asp-validation-for="InProceedings.StartPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.EndPage" class="control-label"></label>
                <input asp-for="InProceedings.EndPage" class="form-control" />
                <span asp-validation-for="InProceedings.EndPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.Title" class="control-label"></label>
                <input asp-for="InProceedings.Title" class="form-control" />
                <span asp-validation-for="InProceedings.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.Year" class="control-label"></label>
                <input asp-for="InProceedings.Year" class="form-control" />
                <span asp-validation-for="InProceedings.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InProceedings.URL" class="control-label"></label>
                <input asp-for="InProceedings.URL" class="form-control" />
                <span asp-validation-for="InProceedings.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
