@page
@model IEIPaperSearch.Pages.LoadResultsModel
@{
    ViewData["Title"] = "Motor de búsqueda bibiliográfica";
}

<h1>Resultados de carga</h1>
<br>

<p> Número de referencias cargadas: </p>
<br>
<dl>
    <dd>DBLP: &nbsp;</dd>
    <dd>IEEE Xplore: &nbsp;</dd>
    <dd>Google Scholar: &nbsp;</dd>
    <br>

    <dd>Total de referencias cargadas:  &nbsp;</dd>
</dl>



<br>
<br>
<label>Errores en el proceso: &nbsp;</label>
<br >

<label>Lista de errores:</label>


<br>
<br>

<input type="submit" value="OK" />&nbsp;&nbsp;
